body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 3fr 3fr 6fr 6fr 3fr;
    grid-gap: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.logo {
    grid-column: span 3;
    text-align: center;
}

header, footer {
    grid-column: span 3;
    text-align: center;
    background-color: lightgrey;
    align-content: center;
    a {
        padding: 1%;
    }
}

.item {
    background-color: lightgray;
    text-align: center;
    padding-top: 1%;
}

.char {
    grid-column: span 3;
    .item();
}