.num1 {
  background-color: rgb(1, 254, 0);
  height: 20px;
}

.num2 {
  background-color: rgb(2, 253, 0);
  height: 20px;
}

.num3 {
  background-color: rgb(3, 252, 0);
  height: 20px;
}

.num4 {
  background-color: rgb(4, 251, 0);
  height: 20px;
}

.num5 {
  background-color: rgb(5, 250, 0);
  height: 20px;
}

.num6 {
  background-color: rgb(6, 249, 0);
  height: 20px;
}

.num7 {
  background-color: rgb(7, 248, 0);
  height: 20px;
}

.num8 {
  background-color: rgb(8, 247, 0);
  height: 20px;
}

.num9 {
  background-color: rgb(9, 246, 0);
  height: 20px;
}

.num10 {
  background-color: rgb(10, 245, 0);
  height: 20px;
}

.num11 {
  background-color: rgb(11, 244, 0);
  height: 20px;
}

.num12 {
  background-color: rgb(12, 243, 0);
  height: 20px;
}

.num13 {
  background-color: rgb(13, 242, 0);
  height: 20px;
}

.num14 {
  background-color: rgb(14, 241, 0);
  height: 20px;
}

.num15 {
  background-color: rgb(15, 240, 0);
  height: 20px;
}

.num16 {
  background-color: rgb(16, 239, 0);
  height: 20px;
}

.num17 {
  background-color: rgb(17, 238, 0);
  height: 20px;
}

.num18 {
  background-color: rgb(18, 237, 0);
  height: 20px;
}

.num19 {
  background-color: rgb(19, 236, 0);
  height: 20px;
}

.num20 {
  background-color: rgb(20, 235, 0);
  height: 20px;
}

.num21 {
  background-color: rgb(21, 234, 0);
  height: 20px;
}

.num22 {
  background-color: rgb(22, 233, 0);
  height: 20px;
}

.num23 {
  background-color: rgb(23, 232, 0);
  height: 20px;
}

.num24 {
  background-color: rgb(24, 231, 0);
  height: 20px;
}

.num25 {
  background-color: rgb(25, 230, 0);
  height: 20px;
}

.num26 {
  background-color: rgb(26, 229, 0);
  height: 20px;
}

.num27 {
  background-color: rgb(27, 228, 0);
  height: 20px;
}

.num28 {
  background-color: rgb(28, 227, 0);
  height: 20px;
}

.num29 {
  background-color: rgb(29, 226, 0);
  height: 20px;
}

.num30 {
  background-color: rgb(30, 225, 0);
  height: 20px;
}

.num31 {
  background-color: rgb(31, 224, 0);
  height: 20px;
}

.num32 {
  background-color: rgb(32, 223, 0);
  height: 20px;
}

.num33 {
  background-color: rgb(33, 222, 0);
  height: 20px;
}

.num34 {
  background-color: rgb(34, 221, 0);
  height: 20px;
}

.num35 {
  background-color: rgb(35, 220, 0);
  height: 20px;
}

.num36 {
  background-color: rgb(36, 219, 0);
  height: 20px;
}

.num37 {
  background-color: rgb(37, 218, 0);
  height: 20px;
}

.num38 {
  background-color: rgb(38, 217, 0);
  height: 20px;
}

.num39 {
  background-color: rgb(39, 216, 0);
  height: 20px;
}

.num40 {
  background-color: rgb(40, 215, 0);
  height: 20px;
}

.num41 {
  background-color: rgb(41, 214, 0);
  height: 20px;
}

.num42 {
  background-color: rgb(42, 213, 0);
  height: 20px;
}

.num43 {
  background-color: rgb(43, 212, 0);
  height: 20px;
}

.num44 {
  background-color: rgb(44, 211, 0);
  height: 20px;
}

.num45 {
  background-color: rgb(45, 210, 0);
  height: 20px;
}

.num46 {
  background-color: rgb(46, 209, 0);
  height: 20px;
}

.num47 {
  background-color: rgb(47, 208, 0);
  height: 20px;
}

.num48 {
  background-color: rgb(48, 207, 0);
  height: 20px;
}

.num49 {
  background-color: rgb(49, 206, 0);
  height: 20px;
}

.num50 {
  background-color: rgb(50, 205, 0);
  height: 20px;
}

.num51 {
  background-color: rgb(51, 204, 0);
  height: 20px;
}

.num52 {
  background-color: rgb(52, 203, 0);
  height: 20px;
}

.num53 {
  background-color: rgb(53, 202, 0);
  height: 20px;
}

.num54 {
  background-color: rgb(54, 201, 0);
  height: 20px;
}

.num55 {
  background-color: rgb(55, 200, 0);
  height: 20px;
}

.num56 {
  background-color: rgb(56, 199, 0);
  height: 20px;
}

.num57 {
  background-color: rgb(57, 198, 0);
  height: 20px;
}

.num58 {
  background-color: rgb(58, 197, 0);
  height: 20px;
}

.num59 {
  background-color: rgb(59, 196, 0);
  height: 20px;
}

.num60 {
  background-color: rgb(60, 195, 0);
  height: 20px;
}

.num61 {
  background-color: rgb(61, 194, 0);
  height: 20px;
}

.num62 {
  background-color: rgb(62, 193, 0);
  height: 20px;
}

.num63 {
  background-color: rgb(63, 192, 0);
  height: 20px;
}

.num64 {
  background-color: rgb(64, 191, 0);
  height: 20px;
}

.num65 {
  background-color: rgb(65, 190, 0);
  height: 20px;
}

.num66 {
  background-color: rgb(66, 189, 0);
  height: 20px;
}

.num67 {
  background-color: rgb(67, 188, 0);
  height: 20px;
}

.num68 {
  background-color: rgb(68, 187, 0);
  height: 20px;
}

.num69 {
  background-color: rgb(69, 186, 0);
  height: 20px;
}

.num70 {
  background-color: rgb(70, 185, 0);
  height: 20px;
}

.num71 {
  background-color: rgb(71, 184, 0);
  height: 20px;
}

.num72 {
  background-color: rgb(72, 183, 0);
  height: 20px;
}

.num73 {
  background-color: rgb(73, 182, 0);
  height: 20px;
}

.num74 {
  background-color: rgb(74, 181, 0);
  height: 20px;
}

.num75 {
  background-color: rgb(75, 180, 0);
  height: 20px;
}

.num76 {
  background-color: rgb(76, 179, 0);
  height: 20px;
}

.num77 {
  background-color: rgb(77, 178, 0);
  height: 20px;
}

.num78 {
  background-color: rgb(78, 177, 0);
  height: 20px;
}

.num79 {
  background-color: rgb(79, 176, 0);
  height: 20px;
}

.num80 {
  background-color: rgb(80, 175, 0);
  height: 20px;
}

.num81 {
  background-color: rgb(81, 174, 0);
  height: 20px;
}

.num82 {
  background-color: rgb(82, 173, 0);
  height: 20px;
}

.num83 {
  background-color: rgb(83, 172, 0);
  height: 20px;
}

.num84 {
  background-color: rgb(84, 171, 0);
  height: 20px;
}

.num85 {
  background-color: rgb(85, 170, 0);
  height: 20px;
}

.num86 {
  background-color: rgb(86, 169, 0);
  height: 20px;
}

.num87 {
  background-color: rgb(87, 168, 0);
  height: 20px;
}

.num88 {
  background-color: rgb(88, 167, 0);
  height: 20px;
}

.num89 {
  background-color: rgb(89, 166, 0);
  height: 20px;
}

.num90 {
  background-color: rgb(90, 165, 0);
  height: 20px;
}

.num91 {
  background-color: rgb(91, 164, 0);
  height: 20px;
}

.num92 {
  background-color: rgb(92, 163, 0);
  height: 20px;
}

.num93 {
  background-color: rgb(93, 162, 0);
  height: 20px;
}

.num94 {
  background-color: rgb(94, 161, 0);
  height: 20px;
}

.num95 {
  background-color: rgb(95, 160, 0);
  height: 20px;
}

.num96 {
  background-color: rgb(96, 159, 0);
  height: 20px;
}

.num97 {
  background-color: rgb(97, 158, 0);
  height: 20px;
}

.num98 {
  background-color: rgb(98, 157, 0);
  height: 20px;
}

.num99 {
  background-color: rgb(99, 156, 0);
  height: 20px;
}

.num100 {
  background-color: rgb(100, 155, 0);
  height: 20px;
}

/*# sourceMappingURL=style2.css.map */
